
body{
    margin-bottom: 100px;
}

.combinecontainer{
    margin-left:20px;
    margin-right:20px;
}

#error_addCurrUser, #error_notfound, #error_toomany{
    position:absolute;
    margin-left:23%;
    text-align:center;
    color:red;
}
#combineButton{
    width:60%;
    margin-left:20%;
    margin-right:20%;
}
#successmsg{
    display:none; 
    position:absolute; 
    color:rgba(92, 184, 92, 1);
    margin-left:28%;
    text-align:center;
}


#friendListContainer{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    margin-left:20px;
    margin-right:20px;
    border:1px solid #ccc;
}
.friendBox {
    height: 40px;
    padding:5px;

}
.friendBox .confirmation-message{
    float:right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right:10px;
}
.friendBox #predelete{
        width:10%;
}

.friendBox #confirm-delete{
}

.friendBox button{
    float:right;
    margin:0px;
    height:100%;
    border: 2px solid white;
}

.friendName {
    float:left;
    height:100%;
    display: flex;
    align-items: center;
    font-size: 150%;
}
#friend0{
    display: none;
}
#friend1{
    /*border: 1px solid rgba(240, 173, 78, 0.6);*/

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 173, 78, 0.6);
    background-color: rgb(240, 173, 78); /*yellow warning*/
    color:white;
    margin-bottom:10px;
}
#friend2{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
    background-color: rgb(91, 192, 222); /*cyan info*/
    color:white;
    margin-bottom:10px;
}
#friend3{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6);
    background-color: rgb(217, 83, 79); /*red danger*/
    color:white;
    margin-bottom:10px;
}
#friend4{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 122, 183, 0.6);
    background-color: rgb(51, 122, 183); /*blue primary*/
    margin-bottom:10px;
    color:white;
}

#fullPage {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    padding-top:70%;
    padding-left:10%;
    padding-right:10%;
    z-index:9;
}

#delete-dialog {
    background-color: white;
    color: black; 
    border:1px solid #337ab7;
    
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.26);
    
    padding:15px;
    width:100%;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
