img {
    max-width: 100%;
    height: auto;
}

.createContent {
    padding: 20px;
}

.combineContainer {
    padding: 20px;
}

.createScheduleForm {
    max-width: 80%;
    height: auto;
}

.navbar-nav>li, .navbar-nav {
float: left;
}
.navbar-right {
float: right!important;
}
.navbar-right>li button{
    margin:5px;
}


#logoutButton {
    background-color: #337ab7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: .5px solid #111;
    padding: 3px;
    color: white;
    font-size: 11px;
    margin-top: 4px;
    margin-right: 2px;
}