img {
    max-width: 100%;
    height: auto;
}

.navUL {
    list-style-type: none;
}

.navLI {
    display: inline;
    padding: 2px;
}

.createContent {
    padding: 20px;
}

.createScheduleForm {
    max-width: 80%;
    height: auto;
}

#navbar {
    font-size: 12px;
}